{{/* Reset Password Template - Uses base.html for shared styles */}}
{{template "base" .}}

{{define "content"}}
<h2>Reset your password</h2>
<p>Hello {{.Username}},</p>
<p>We received a request to reset your password. Click the button below to create a new password.</p>
<a href="{{.ActionURL}}" class="button">Reset password</a>
<div class="link-text">
    <a href="{{.ActionURL}}">{{.ActionURL}}</a>
</div>
<div class="notice">
    This link expires in {{if .Custom.ExpiryHours}}{{.Custom.ExpiryHours}} hour{{if gt .Custom.ExpiryHours 1}}s{{end}}{{else}}1 hour{{end}}. If you did not request a password reset, you can ignore this email.
</div>
{{end}}
